@use "./variables" as *; 

%begin{
      $width: 70%; 
      $marginAuto: 0 auto; 
}
%ButtonHover{
      color: #fff;
      background-color: #212529;
      cursor: pointer;
}
%ButtonHoverTransition{
      transition: all .3s ease;
}