@use "./../abstract/extend" as *; 
@use "./../abstract/mixin" as *; 
@use "./../abstract/variables" as *; 
@use "./../base/color" as *; 
#navbar{
      width: $maxwidth;
      & .container{
            height: 6rem; 
            @extend %begin; 
            @include flexAlignJustify($justify:space-between); 
            & .left{
                  width: $width;
                  @include flexAlignJustify($justify:start);
                  & .logo{

                        & h1{
                              font-weight: 300;
                        }
                  }
                  & .navbar{
                        margin-left: 6rem; 
                        & .nav{
                              @include flexAlignJustify($justify:start);
                              & .nav-item{
                                    & .nav-link{
                                          font-size: 1.6rem;
                                          color: $navtext;
                                    }
                              }
                        }
                  }
            }  
            & .right{
                  border: 1px solid #212529;
                  border-radius: .75rem; 
                  @include flexAlignJustify;
                  @extend %ButtonHoverTransition; 
                  & .inner{
                        margin-left: 1rem;
                        font-size: 1.4rem;
                  }
                  & i{
                        font-size: 1.6rem;
                  }
                  & span{
                        padding: .5rem .7rem;
                        background-color: #212529;
                        color: #fff;
                        border-radius: 50% 50%;
                        margin-right: 1rem;
                  }
                  & p{
                        margin-top: 1rem;
                        font-size: 1.6rem;
                  }
            }
            & .right:hover{
                  @extend %ButtonHover; 
            }
      }
}