@use "./../abstract/extend" as *; 
@use "./../abstract/mixin" as *; 
@use "./../abstract/variables" as *; 
@use "./../base/color" as *; 
#navbar{
      width: $maxwidth;
      & .container{
            height: 6rem; 
            @extend %begin; 
            @include flexAlignJustify($justify:space-between); 
            & .left{
                  width: $width;
                  @include flexAlignJustify($justify:start);
                  & .logo{

                        & h1{
                              font-weight: 300;
                        }
                  }
                  & .navbar{
                        margin-left: 6rem; 
                        & .nav{
                              @include flexAlignJustify($justify:start);
                              & .nav-item{
                                    & .nav-link{
                                          font-size: 1.6rem;
                                          color: $navtext;
                                    }
                              }
                        }
                  }
            }  
            & .right{
                  @include flexAlignJustify($justify:start, $align:baseline);
            }
      }
}